// colores

$bgColor: #d5e5eb;
$containerColor: #e4eef2;
$navbarColor: #888888;
$footerColor: #333333;
$fontBlackColor: #212529;
$fontWhiteColor: aliceblue;
$paletaFonts: (
    "fontBlackColor": $fontBlackColor,
    "fontWhiteColor": $fontWhiteColor,
    "footerColor": $footerColor,
    "navbarColor": $navbarColor
);

// fuentes
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap");
$mainFontFamily: "Montserrat", sans-serif;
$secondFontFamily: "Open Sans", sans-serif;
